.input-wrapper {
  margin-top: 15px;
  outline: none;
  cursor: auto;
  text-align: center;
  position: relative;


  &__input {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-position: 97%;
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    padding: 12px 18px;
    outline: none;
    -webkit-appearance: none;
    text-align: left;

    &--name {
      background-image: url(../images/name.png);
    }

    &--email {
      background-image: url(../images/email.png);
    }

    &--phone {
      background-image: url(../images/phone.png);
    }
  }
}
