.input-wrapper {
  margin-top: 15px;
  outline: none;
  cursor: auto;
  text-align: center;
  position: relative;


  &__input {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-position: 97%;
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    padding: 12px 18px;
    outline: none;
    -webkit-appearance: none;
    text-align: left;

    &--name {
      background-image: url(../images/name.png);
    }

    &--email {
      background-image: url(../images/email.png);
    }

    &--phone {
      background-image: url(../images/phone.png);
    }
  }

  &__validation {
    &:invalid:focus {
      border-color: #B91517;
      border-size: 5px;
      border-color: rgb(185, 21, 23);
      border-width: 3px;
    }

    &:valid {
      border-color: rgb(74, 137, 32);
      border-width: 3px;
    }

    &:focus {
      border-color: #42B0E2;
      border: 1px solid;
    }

    &:hover {
      border-color: #42B0E2
    }
  }
}
